# SQL Config
SERVER=
DATABASE=
DRIVER=

# Firebase Config
FIREBASE_SERVICE_ACCOUNT_PATH=
FRONTEND_URL=

# SendGrid Config
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

# Turnstile Config
TURNSTILE_SECRET_KEY=

# Azure Content Safety Config
CONTENT_SAFETY_ENDPOINT=
CONTENT_SAFETY_KEY=